config/*.yml
public/.htaccess
config/initializers/setup_mail.rb
config/environment.rb
config/deploy.rb
Capfile
.bundle
db/*.sqlite3*
log/*.log
*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*~
.DS_Store
.idea/*
.metadata/*
.redcar/*
vendor/bundle
