config/*.yml
public/.htaccess
config/initializers/setup_mail.rb
config/deploy.rb
Capfile
.bundle
db/*.sqlite3*
log/*.log
*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*~
.DS_Store
.idea/workspace.xml
vendor/bundle