<% title "Registrado com sucesso" %>

<div class='center'>
  <br />
  <h1><%= image_tag("tick.gif") %> Parabéns! Seu registro foi realizado com sucesso.</h1>
  <h4>Você irá receber dentro de instantes um e-mail contendo um link para confirmação. <br />Basta clicar neste link e seu registro estará confirmado.</h4>
  <br />
  <br />
  <hr />
  <h3>Curta nossa página no <%=image_tag("facebook.gif") %></h3>
  <div class="fb-like" data-href="http://www.facebook.com/shigotodoko" data-send="false" data-width="450" data-show-faces="true" data-font="segoe ui"></div>
  <br />
  <br />
  <br />
  <br />
  <h3>e siga-nos pelo Twitter...<br /><br />
  <a href="https://twitter.com/shigotodoko" class="twitter-follow-button" data-show-count="true" data-lang="pt" data-size="large">Siga @shigotodoko</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </h3>  
</div>


