<div id="admin_dashboard">
	<h1>Admin Dashboard</h1>
	<hr />
	<aside id='nav'>
		<ul>
			<li>Empregos</li>
			<li>Empresas</li>
			<li>Usuários</li>
			<li>Comentários</li>
		</ul>
	</aside>
	<div class='clear'></div>
</div>
