<div id='expired_page'>
<%= image_tag('expired.png')%>
<h1>Ops! O anúncio que você tentou acessar expirou.</h1>
<hr size='1'>
<h3>Por quê isso acontece?</h3>
<p>Por regra, todos os anúncios veiculados no ShigotoDOKO possuem um determinado tempo de vida.</p>
<p>Porém nem tudo está perdido, você ainda pode encontrar muitos <%= link_to 'anúncios válidos aqui', jobs_path %>.</p>
</div>
