<h1>Jobs in revision (<%= @pending.count %>)</h1>
<hr size="1">

<div id="main_jobs">

    <div class="positions" style="width: 100%;">
      <%= render 'positions_table' , :collection => @pending %>
    </div>



</div>

<div class="clear"></div>
