<h1>Jobs in revision (<%= @jobs.count %>)</h1>
<hr size="1">

<div id="main_jobs">

    <div class="positions">
      <%= render 'positions_table' , :collection => @jobs %>
      <%= will_paginate @jobs, :prev_label => "← Anterior", :next_label => "Próximo →" %>
    </div>



</div>

<div class="clear"></div>
