.container {
  width: 960px;
}

body {
   background: #c2c2c8;
}

header {
  padding: 10px 0px 5px 0px;
  background-color: #fff;
}
#header { width: 960px; margin: 0 auto;}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

#reminder {
    margin: 0 auto;
    background-color: #fff;
}
#reminder .container { width: 960px; }
#reminder .container p {
    margin-left: 20px; 
}
section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.round-top {
    -moz-border-radius-topright:    10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius:         10px;
    -moz-border-radius-topleft:    10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius:         10px;
}
.round-bottom {
    -moz-border-radius-bottomright:    10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius:         10px;
    -moz-border-radius-bottomleft:    10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius:         10px;
}


/* Site navigator */

#navigator {
    background: #fff;
    margin-top: 10px;
    margin-bottom: -17px;
}
#navigator ul li.first a {
    margin-top: 10px;
    margin-left: -0.4em;
    list-style: none;
    display: inline-block;
    padding: 0.2em;
    font-weight: bold;
}
#navigator ul li {
    font-size: 25px;
    list-style: none;
    display: inline-block;
    padding: 0.2em;
}
#navigator a:hover {
    background-color: #06c;
    color: #fff;
    padding: 0.2em;
    text-decoration: none;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
  background-color: #fff;
}

#welcome_message {
    margin:0 auto;
    text-align: center;
}

.align_to_center { text-align: center; }

#business_done {
    text-align: center;
}

#partners {
    margin-top: 100px;
    text-align: center;
}
#partners h1 {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}
#partners ul {
    list-style: none;
    margin-left: 30px;
}
#partners ul li {
    display: inline-block;
    font-size: 30px;
    padding-right: 30px;
}

#main_jobs {
    margin: 10 10px 10px 0px;
}
#main_jobs table.positions {
    float: left;
    width: 600px;
    margin-left: -5px;
}
        table.positions tr td {
            background-color: #fff;
        }
            table.positions tr td div.post {
                padding-top: 5px;
            }
            table.positions tr td div.post ul {
                list-style: none;
            }
            table.positions tr td div.post ul.title_and_company {
                margin-left: -20px;
                float: left
            }
                table.positions tr td div.post ul.title_and_company li.title a {
                    font-weight: bold;
                    font-size: 16px;
                }
                table.positions tr td div.post ul.title_and_company li.title a:hover {
                    text-decoration: underline;
                }
            table.positions tr td div.post ul.location_and_created_date {
                float: right;
                text-align: right;
                margin-right: -5px;
                font-size: 12px;
                color: #666;
            }
                table.positions tr td div.post ul.location_and_created_date li.created_date {
                    color: #999;
                }


#main_jobs div#jobs_sidebar {
    float: right;
}

.clear {
    clear: both;
}

a.button {
    text-decoration: none;
    color: #000;
}
.button {
  font:normal 13px arial,helvetica,sans-serif;
  color:#000;
  border:1px solid #ccc;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  background-color:#f6f6f6;
  background-image:linear-gradient(top, #fff, #efefef);
  background-image:-moz-linear-gradient(top, #fff, #efefef);
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#efefef));
  filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#efefef);
  height:1.9231em;
  padding:0.3em 0.5em;
  cursor:pointer;
  white-space:nowrap;
  overflow:visible; /* fixes width in IE7 */
  outline:0 none /* removes focus outline in IE */}
.button::-moz-focus-inner {border:none} /* removes focus outline in FF */
.button:hover, button:focus {
  border-color:#999;
  background-color:#f0f1f3;
  background-image:linear-gradient(top, #fff, #ebebeb);
  background-image:-moz-linear-gradient(top, #fff, #ebebeb);
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ebebeb));
  filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#ebebeb);
  box-shadow:0 0 3px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 3px rgba(0,0,0,0.4);
  -webkit-box-shadow:0 0 3px rgba(0,0,0,0.4)}
.button:active {
  background-color:#ddd;
  background-image:linear-gradient(top, #ccc, #fff);
  background-image:-moz-linear-gradient(top, #ccc, #fff);
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#fff));
  filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#cccccc, endColorStr=#ffffff)
}

/* CSS3 BUTTON */

.btn {
	display: inline-block;
	background: url(/images/btn.bg.png) repeat-x 0px 0px;
	padding:5px 10px 6px 10px;
	font-weight:bold;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	border:1px solid rgba(0,0,0,0.4);
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.btn:hover {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	cursor:pointer;
}

/* COLOR VARIATIONS */

.blue		{background-color: #CCCCCC; color: #141414;}
.blue:hover	{background-color: #00c0ff; color: #ffffff;}

.green		{background-color: #CCCCCC; color: #141414;}
.green:hover{background-color: #8aff00; color: #ffffff;}

.red		{background-color: #CCCCCC; color: #141414;}
.red:hover	{background-color: #ff004e; color: #ffffff;}


#ad_sample {
    background-color: #eee;
    border: 1px solid #ddd;
}
#ad_sample h1 {
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    color: #333;
}