#container {
  width: 960px;
  margin:0 auto;
  position: relative;
  z-index: 90;
}

body {
   margin-top: 10px;
   background-image: url('/images/pattern_037.gif');
}

header {
  padding: 5px 0px 0px 0px;
  background-color: #fff;
}

header img {
  padding: 0.3em;
  margin-left: 10px;
  background: #fff;
}

section {
  clear: both;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

#reminder {
    margin: 0 auto;
    background-color: #333;
    margin-bottom: -22px;
}
#reminder { width: 960px; }
#reminder p {
    margin-left: 20px;
    padding-top: -20px;
    font-size: 14px; 
    color: #fff;
    text-shadow: 1px 1px 1px #999;
}
#reminder p a {
  color: #0099CC;
}
section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

#access_link  {
  float: right;
  clear: both;
}
#access_link ul {
  list-style: none;
}


/* Site navigator */
#navigator {
  padding-top: 10px;
  background-color: #fff;
  margin-bottom: -18px;
}
#navigator nav#navbar ul li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}
#navigator nav#navbar ul li a {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #069;
  color: #fff;
  padding: 5px;
  -moz-border-radius-topright:    5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius:         5px;
  -moz-border-radius-topleft:    5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius:         5px;
}
#navigator nav#navbar ul li a:hover {
  background-color: #036;
  color: #fff;
}
.navbar_fullbar {
  background-color: #069;
  height: 5px;
}


/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.round-top {
    -moz-border-radius-topright:    10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius:         10px;
    -moz-border-radius-topleft:    10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius:         10px;
}
.round-bottom {
    -moz-border-radius-bottomright:    10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius:         10px;
    -moz-border-radius-bottomleft:    10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius:         10px;
}




/* Footer */

footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer nav#footer {
  float: none;
  background-color: #fff;
}
footer nav#footer ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.welcome_message {
    width: 950px;
    text-align: center;
    background-color: #069;
    padding: 20px;
    height: 80px;
    margin-top: -18px;
    position: relative;
    left: -35px;
}
.welcome_message .triangle-l {
 border-color: transparent #036 transparent transparent;
 border-style:solid;
 border-width:15px;
 height:0px;
 width:0px;
 left: -35px;
 top: -3px;
 position: relative;
 z-index: -1;
}

.welcome_message .triangle-r {
 border-color: transparent transparent transparent #036;
 border-style:solid;
 border-width:15px;
 height:0px;
 width:0px;
 left: 955px;
 top: -32px;
 position: relative;
 z-index: -1;
}


.welcome_message h1 { color: #fff; text-shadow: 1px 1px 1px #333; }
.welcome_message h3 { color: #fff; text-shadow: 1px 1px 1px #333; }

.align_to_center { text-align: center; }

#business_done {
    text-align: center;
}

#partners {
    margin-top: 100px;
    text-align: center;
}
#partners h1 {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}
#partners ul {
    list-style: none;
    margin-left: 30px;
}
#partners ul li {
    display: inline-block;
    font-size: 30px;
    padding-right: 30px;
}

#main_jobs {
    margin: 10 10px 10px 0px;
}
#main_jobs div.positions {
    float: left;
    width: 600px;
    margin-top: 22px;
}
div.positions section#partner_dekapower {
  margin-top: -22px;
  margin-left: -5px;
}
div.positions section#partner_dekapower h1 {
  font-size: 13px;
  background-color: #ccc;
  color: #333;
  text-shadow: 0px 1px 1px white;
  padding: 8px;
  margin-bottom: 20px;
} 
div.positions table {
  margin-top: -22px;
  margin-left: -5px;
  border-bottom: 1px solid #ccc;
}
  div.positions table tr td div.title a {
    font-weight: normal;
    font-size: 15px;
    color: #069;
  }
  div.positions section#partner_dekapower table tr td div.title a {
    font-weight: normal;
    font-size: 13px;
    color: #069;
  }
  div.positions table tr td div.title a:hover, div.positions section#partner_dekapower table tr td div.title a:hover {
    text-decoration: underline;
  }
  div.positions table tr td div.company_name, div.positions section#partner_dekapower table tr td div.company_name {
    font-size: 13px;
    color: #666;
  }
  
  div.positions table tr td.location_date, div.positions section#partner_dekapower table tr td.location_date {
    text-align: right;
    font-size: 13px;
  }
  div.positions table tr td.location_date .date, div.positions section#partner_dekapower table tr td.location_date .date {
    color: #999;
  }
  

#main_jobs div#jobs_sidebar {
    float: right;
}

a.button {
    text-decoration: none;
    color: #000;
}
.button {
  font:normal 13px arial,helvetica,sans-serif;
  color:#000;
  border:1px solid #ccc;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  background-color:#f6f6f6;
  background-image:linear-gradient(top, #fff, #efefef);
  background-image:-moz-linear-gradient(top, #fff, #efefef);
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#efefef));
  filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#efefef);
  height:1.9231em;
  padding:0.3em 0.5em;
  cursor:pointer;
  white-space:nowrap;
  overflow:visible; /* fixes width in IE7 */
  outline:0 none /* removes focus outline in IE */}
.button::-moz-focus-inner {border:none} /* removes focus outline in FF */
.button:hover, button:focus {
  border-color:#999;
  background-color:#f0f1f3;
  background-image:linear-gradient(top, #fff, #ebebeb);
  background-image:-moz-linear-gradient(top, #fff, #ebebeb);
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ebebeb));
  filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#ebebeb);
  box-shadow:0 0 3px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 3px rgba(0,0,0,0.4);
  -webkit-box-shadow:0 0 3px rgba(0,0,0,0.4)}
.button:active {
  background-color:#ddd;
  background-image:linear-gradient(top, #ccc, #fff);
  background-image:-moz-linear-gradient(top, #ccc, #fff);
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#fff));
  filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#cccccc, endColorStr=#ffffff)
}

/* CSS3 BUTTON */

.btn {
	display: inline-block;
	background: url(/images/btn.bg.png) repeat-x 0px 0px;
	padding:5px 10px 6px 10px;
	font-weight:bold;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	border:1px solid rgba(0,0,0,0.4);
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.btn:hover {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	cursor:pointer;
}

/* COLOR VARIATIONS */

.blue		{background-color: #CCCCCC; color: #141414;}
.blue:hover	{background-color: #003366; color: #ffffff;}

.green		{background-color: #336600; color: #141414;}
.green:hover{background-color: #2C6700; color: #ffffff;}

.red		{background-color: #CCCCCC; color: #141414;}
.red:hover	{background-color: #ff004e; color: #ffffff;}

.yellow    {background-color: #ffff66; color: #000;}
.yellow:hover  {background-color: #ffcc00; color: #fff;}

#ad_sample {
    background-color: #eee;
    border: 1px solid #ddd;
}
#ad_sample h1 {
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    color: #333;
}

.left-column { float: left; }
.right-column { float: right; }
.flash_messages {
  width: 100%;
  text-align: center;
  margin: -10px;
}
.show_jobs_location_and_title p.location {

}
.show_jobs_location_and_title p.title {
    margin-top: -30px;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    color: #006699;
}
.show_jobs_job_content {
    font-size: 12px;
    margin-top: 30px;
}
.company_info {
    width: 25%;
    float: right;
    margin-top: -20px;
    margin-right: 5px;
    margin-left: 5px;
} 
.company_info .company_name_and_website {
    background-color: #FFFEEF;
    border: 1px solid #CCC;
    padding: 5px;
    -moz-box-shadow: 0 0 5px #CCC;
    -webkit-box-shadow: 0 0 5px #CCC;
    box-shadow: 0 0 5px #CCC;
}
    .company_info p.company_name {
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        margin-right: 3px;
        margin-left: 3px;
    }
    .company_info p.company_website {
        font-size: 11px;
        margin-top: -15px;
        margin-bottom: -3px;
        margin-right: 3px;
        margin-left: 3px;
    }

.company_info .how_to_apply {
    margin-top: 10px;
    background-color: #FFFEEF;
    border: 1px solid #CCC;
    padding: 5px 0px 0px 5px;
    -moz-box-shadow: 0 0 5px #CCC;
    -webkit-box-shadow: 0 0 5px #CCC;
    box-shadow: 0 0 5px #CCC;
}
    .company_info .how_to_apply p.title {
        font-weight: bold;
        border-bottom: 1px solid #ccc;
    }
    .company_info .how_to_apply p.body {
        margin-top: -15px;
        margin-bottom: 2px;
        margin-right: 3px;
        margin-left: 3px;
        font-size: 13px;
    }
    
.layout-shadow {
    -moz-box-shadow: 0 0 15px #666;
    -webkit-box-shadow: 0 0 8px #666;
    box-shadow: 0 0 8px #666; 
}

/* Simple form */
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form textarea {
 font-family: arial;
 font-size: 13px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

#admin_header_panel {
  padding: 10px;
  margin-bottom: 10px;
}
div #sign_in_links { float: right; margin-right: 30px;}
div #sign_in, div #sign_up {
  width: 550px;
  text-align: center;
  background-color: #f6f6f6;
  padding: 5px;
  float: left;
  -moz-box-shadow: 1px 0px 1px 1px #666;
  -webkit-box-shadow: 0 0 8px #666;
  box-shadow: 0 0 8px #666; 
}
div #sign_in table tr td.header, div #sign_up table tr td.header {
  background-color: #ddd;
}
div #sign_in table tr td, div #sign_up table tr td {
  background-color: #f6f6f6;
}
div #sign_in table tr td label, div #sign_up table tr td label {
  text-align: right;
  width: 180px;
}
div #sign_in table tr td input, div #sign_up table tr td input {
  text-align: left;
  margin-left: -60px;
}

input[type=text], input[type=password], input.text, input.title, textarea, select {-webkit-border-radius:5px;} 
