.container {
  width: 960px;
}

body {
  background: #c2c2c8;
}

header {
  padding: 10px 0px 5px 0px;
  background-color: #fff;
}
#header { width: 960px; margin: 0 auto;}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;

}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.round-top {
    -moz-border-radius-topright:    10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius:         10px;
    -moz-border-radius-topleft:    10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius:         10px;
}
.round-bottom {
    -moz-border-radius-bottomright:    10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius:         10px;
    -moz-border-radius-bottomleft:    10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius:         10px;
}


/* Site navigator */

#navigator {
    background: #fff;
    margin-top: 10px;
    margin-bottom: -17px;
}
#navigator ul li.first {
    margin-top: -7px;
    list-style: none;
    display: inline-block;
    padding: 0.2em 0em;
    font-size: 30px;
}
#navigator ul li {
    margin-top: -7px;
    list-style: none;
    display: inline-block;
    padding: 0.2em 0.4em;
    font-size: 30px;
}
#navigator a:hover {
    margin-top: -7px;
    background-color: #06c;
    color: #fff;
    padding: 0.2em 0em;
    text-decoration: none;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

