<div class='center'>
<h2>Esqueceu sua senha?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <p>E-mail: <%= f.text_field :email %><%= f.submit "Me envie instruções de senha", :class => 'button' %></p>
<% end %>

</div>