<h1>Hello Work</h1>
<p>Agência Pública de Emprego, em japonês Koukyou Shokugyo Antei-sho (公共職業安定所), mais popularmente conhecido como Hello Work, oferece serviços de consultas sobre questões de trabalho e de apresentação de emprego para os cidadãos japoneses e estrangeiros.</p>
<p>Algumas agências do Hello Work realizam serviço de apresentação de trabalhos com a ajuda de intérpretes (veja a lista abaixo) para as pessoas com dificuldade de comunicar-se em japonês.</p>
<p>Os cadastrados no Seguro Desemprego, ao se desligarem da empresa (por iniciativa própria ou demissão pelo empregador) poderão solicitar o Seguro Desemprego junto às 
	Agências do Hello Work de sua jurisdição. Quanto aos procedimentos básicos para solicitação do Seguro Desemprego, consulte na <%= link_to 'home page', 'http://www2.aichi-rodo.go.jp/gaikokujin/pt/portugues.html', :target => '_blank' %> do Centro de
Assistência de Empregos para Estrangeiros em Nagoya, , clicando sobre “Procedimentos do Seguro Desemprego”.</p>
<p>As pessoas que tenham dúvidas com relação ao seu cadastramento no Seguro Desemprego, poderão verificar junto à agência do Hello Work, através do procedimento chamado Koyo Hoken Hihokensha Shikaku Shutoku Todokede Kakunin Shokaihyo（雇用保険被保険者資格取得届出確認紹介票.</p>
<p>Este documento está disponível nas agências do Hello Work e devem ser entregues nas agências da jurisdição de sua empresa ou de sua residência.</p>
<p>Não há atendimento por telefone. Aos cadastrados no Seguro Desemprego com fluência no japonês e que queiram aperfeiçoar seus conhecimentos na área profissional, poderão participar de programas de treinamentos, com direito aos subsídios do Seguro Desemprego. Os subsídios do Seguro Desemprego são voltados para os treinamentos abaixo:</p>
(1) Treinamentos Profissionais Públicos.　(Kokyo Shokugyo Kunren/公共職業訓練) Realizados em órgãos de treinamentos profissionais públicos, ensinam técnicas para que as pessoas reiniciem alguma atividade, bem como conhecimentos e treinamento profissional. As aulas são gratuitas, mas os livros e materiais utilizados são por conta própria. Mesmo as pessoas empregadas poderão participar desse programa, com direito ao subsídio do Seguro Desemprego.</p>
<p>As pessoas desempregadas que estejam participando do programa de treinamento, poderão prorrogar o período do recebimento do Seguro Desemprego.
(2) Regime de Subsídios para Aprendizagem e Treinamento. (Kyoiku Kunren Kyufu Seido/教育訓練給付制度) Este regime oferece subsídios para o pagamento de cursos de aprendizagem e treinamento aprovados pelo Ministro do Trabalho e Saúde.</p>
<p>As pessoas com direito ao subsídio, são aquelas cadastradas por mais de 3 anos (se for a primeira vez, por mais de 1 ano) no Seguro Desemprego. O subsídio irá cobrir parte do pagamento efetuado pelo aluno. Entre em contato com a agência do Hello Work mais próxima para obter informações.</p>

<p><cite>Fonte: Centro Internacional de Nagoya</cite></p>
<p>Entre em contato com a agência do Hello Work <%= link_to 'mais próxima', agencies_path %> para obter informações.</p>

<p><%= link_to 'Voltar', agencies_path %></p>
