<h1>Sobre nós</h1>
<hr size="1">
<p>Somos hoje um dos maiores sites de empregos do Japão, e temos como objetivo manter os brasileiros que hoje vivem no arquipélogo, atualizados com as mais recentes oportunidades de serviço, abrangendo todas as províncias do Japão, assim como todas as áreas possíveis.</p>

<br /><br />
<h3>Empresas</h3>
<hr size="1">
<p>Além disso, levamos informações sobre as Empresas que atuam com a colocação de mão-de-obra no mercado japonês. Tais como: localização e telefone(s) para contato.</p>


<br /><br />
<h3>Histórico</h3>
<hr size="1">

<ol>
  <li>29 de Setembro de 2008 - Lançamento oficial.</li>
  <li>06 de Fevereiro de 2009 - Primeira e grande atualização.</li>
  <li>30 de Março de 2011- Segunda grande atualização.</li>
</ol>

<br /><br />
<h3>Ser Beta</h3>
<hr size="1">
<p>Somos e seremos sempre Beta pelo simples fato de estarmos sempre evoluindo, sempre procurando melhorar e inovar. Por isso, Beta.. </p>
<p>Beta significa que nunca será suficiente e nunca estará 100% pronto.</p>

<br /><br />
<h3>Custo</h3>
<hr size="1">
<p>Todo o conteúdo disponível no ShigotoDOKO é gratuito.</p>

<br /><br />
<h3>Tecnologia</h3>
<hr size="1">
<p>Desenvolvido em <%= link_to 'Ruby on Rails', 'http://rubyonrails.org', :target => '_blank' %> por atender às necessidades sempre de forma ágil e possuir código limpo e legível, permitindo um rápido desenvolvimento e manutenção de todo o sistema.</p>

<br /><br />
<h3>Anúncios</h3>
<hr size="1">
<p>Os anúncios publicados são enviados por representantes direto das Empresas e ou Empreiteiras através de nosso sistema especialmente desenvolvido para este fim, possibilitando que os anúncios sofram modificações em tempo real.</p>

<br /><br /><br />
<p>
  Powered by:<br />
  <%= link_to image_tag('rails.png') , 'http://rubyonrails.org', :target => '_blank'%>
</p>
<p>
  Ruby & Ruby Logo: © 2006, Yukihiro Matsumoto<br />
  "Rails", "Ruby on Rails", and the Rails logo are trademarks of David Heinemeier Hansson. 
</p>
