<h1>Sobre nós</h1>
<hr size="1">
<p>Somos hoje um dos maiores sites de empregos do Japão, e temos como objetivo manter os brasileiros que hoje vivem no arquipélogo, atualizados com as mais recentes oportunidades de serviço, abrangendo todas as províncias do Japão, assim como todas as áreas possíveis.</p>

<br />
<h1>Empresas</h3>
<hr size="1">
<p>Trazemos também informações sobre as Empresas que atuam na contratação de mão-de-obra no mercado japonês.</p>
<p>Informações importantes e triviais como a localização e telefone(s) para contato das mesmas, estão presentes em suas respectivas páginas.</p>

<br />
<h1>Ser Beta</h3>
<hr size="1">
<p>Somos e seremos sempre <strong>Beta</strong> pelo simples fato de estarmos sempre evoluindo, sempre procurando melhorar e inovar. Por isso, <strong>Beta</strong>.. </p>
<p><strong>Beta</strong> significa que nunca será suficiente e jamais estará 100% pronto.</p>

<br />
<h1>Custo</h3>
<hr size="1">
<p>Todo o conteúdo disponível no ShigotoDOKO é <i><strong>gratuito.</strong></i></p>

<br />
<h1>Tecnologia</h3>
<hr size="1">
<p>Desenvolvido em <%= link_to 'Ruby on Rails', 'http://rubyonrails.org', :target => '_blank' %> por atender às necessidades sempre de forma ágil e possuir código limpo e legível, permitindo um rápido desenvolvimento e manutenção de todo o sistema.</p>

<br />
<h1>Anúncios</h3>
<hr size="1">
<p>Os anúncios publicados são enviados por representantes direto das Empresas ou Empreiteiras através de nosso sistema especialmente desenvolvido para este fim, possibilitando que os anúncios sofram modificações em tempo real.</p>

<br />
<h1>Histórico</h3>
<hr size="1">

<table style="width: 50%;">
<tr>
  <td>29 de Setembro de 2008</td>
  <td>Lançamento oficial.</td>
</tr>
<tr>
  <td>06 de Fevereiro de 2009</td>
  <td>Primeira grande atualização</td>
</tr>
<tr>
  <td>30 de Março de 2011</td>
  <td>Segunda grande atualização</td>
</tr>
</table>

<br /><br />
<p>
  Powered by:<br />
  <%= link_to image_tag('rails.png') , 'http://rubyonrails.org', :target => '_blank'%>
</p>
<p>
  Ruby & Ruby Logo: © 2006, Yukihiro Matsumoto<br />
  "Rails", "Ruby on Rails", and the Rails logo are trademarks of David Heinemeier Hansson. 
</p>
