<% title "Requisição efetuada com sucesso!" %>

<br /><br /><br />
<div class='center'>
<h1>Business Request</h1>
<hr />
<h3>Obrigado! Sua requisição para conta Empresarial foi efetuada com sucesso!</h3>

<h3>Estaremos entrando em contato através do telefone informado para confirmação.</h3>
</div>

<br /><br /><br />