<% title "Contato"%>
<% description "Página para usuários poderem entrar em contato com a equipe ShigotoDOKO."%>

<h1>Contato</h1>
<p>Para entrar em contato conosco, envie um e-mail para contato@shigotodoko.com que estaremos lhe retornando em breve.</p>
