<h1>Precisando de Ajuda?</h1>
<h4>Esta página tem como objetivo responder a maioria das possíveis dúvidas dos usuários.</h4>

<hr size="1">

<ol>
	<li><%= link_to "Como faço para começar a anunciar ofertas de empregos?", how_to_start_ad_path %></li>
</ol>

