<% title "Boas Festas!" %>

<div id="holiday">


  <div class='center'>
  
    <h1>Boas Festas!</h1>
      <p>O <b>Shigotodoko</b> deseja à todos um excelente Natal e um próspero Ano Novo!</p>
      <p>Que 2012 seja um ano repleto de alegrias, muita saúde e dinheiro no bolso.</p>
      <p>E que consigamos realizar alguns de nossos 
      sonhos, metas e objetivos.</p>
      <p>Agradecemos todas as empresas que anunciaram no <b>Shigotodoko</b> e todas as pessoas que nos visitaram este ano em busca
      de uma nova colocação.</p>
      <p>Agradecemos também à todos aqueles que indicaram o <b>Shigotodoko</b> à amigos e parentes ajudando a manter o posto de
      <cite>"Referência em Empregos no Japão".</cite></p>

    <p><%= image_tag("champagneglasses.jpg") %></p>

    <p>À todos o nosso muito obrigado!</p>

    <p><cite>- Equipe Shigotodoko -</cite></p>

  </div>

</div>