<% title "Home" %>
<% mobile_header "ShigotoDoko.com" %>

<h3>Bem vindo(a) ao</h3><h1>ShigotoDoko </h1><div class="ui-bar ui-bar-b">for mobile</div>
<p>Esta é uma versão simplificada para acesso rápido.</p>

<div class="ui-bar ui-bar-d">
    <h4>Anuncie grátis ofertas de empregos no Japão! <br />Ligue 090-6464-6027 (Softbank)</h4>
</div>
