<% title "Home" %>
<% mobile_header "ShigotoDoko.com" %>

<h1>Bem vindo(a) ao<br />ShigotoDoko <div class="ui-bar ui-bar-b">for mobile</div></h1>
<p>Esta é uma versão simplificada para acesso rápido.</p>

<div class="ui-bar ui-bar-d">
    <h4>Anuncie grátis ofertas de empregos no Japão! <br />Ligue 090-6464-6027 (Softbank)</h4>
</div>
