<% title "A sua referência de empregos no Japão"%>
<% description "Encontre empregos no Japão, empreiteiras, agências da hello work, links úteis, documentação necessária para viajar e mais."%>
<% keywords "shigotodoko, empregos, empreiteiras, hello work, japao, empregos no japao, empreiteiras no japao, empregos no japao em #{Time.now.strftime('%Y')}" %>

<div class="welcome_message">
  <h1>Bem vindo ao ShigotoDOKO</h1>
  <h3>O maior e mais popular sistema de empregos feito para a comunidade latino-americana</h3>
  <div class="triangle-l"></div>
  <div class="triangle-r"></div>
</div>

<div id="presentation">
	<div id="resumes-presents" class="center right">
		<h1>Currículos online</h1>
		<div class='box round'>
			<h2>Essencial para quem busca novas oportunidades de trabalho.</h2>
		</div>		
		<br />
		<h3>Confira abaixo as 5 maiores vantagens em começar agora:</h3>
		<div class='reasons'>
			<table>
				<tr>
					<td class='number'>1</td>
					<td><strong>Rápido e prático</strong><br /> em menos de 3 minutos seu currículo está pronto.</td>				
				</tr>
				<tr>
					<td class='number'>2</td>
					<td><strong>Acessibilidade</strong><br />a qualquer hora do dia ou da noite ele estará disponível.</td>
				</tr>
				<tr>
					<td class='number'>3</td>
					<td><strong>Flexibilidade</strong><br /> de qualquer PC ou celular com internet, você pode acessar e modificar seus dados.</td>
				</tr>
				<tr>
					<td class='number'>4</td>
					<td><strong>Segurança</strong><br /> apenas empresas parceiras poderão ter acesso aos currículos.</td>
				</tr>
				<tr>
					<td class='number'>5</td>
					<td><strong>Visibilidade</strong><br />seu currículo publicado no mais popular site de empregos do Japão.</td>
				</tr>
			</table>
			<p class='best_reason'>Ainda não se convenceu? <br />então aqui vai o sexto motivo e não menos importante :)</p>
			<table>
				<tr>
					<td class='number'>6</td>
					<td><strong>Custo</strong><br /> são 5 os principais motivos e o 6º vem de brinde pois é totalmente de graça!</td>
				</tr>
			</table>
		</div>
		

		<div class="resume_presents_button">
			<p class='center'>
				<% if user_signed_in? %>
					<%= link_to 'Criar meu currículo' , new_resume_path, :class => 'round', :id => 'link' %>
				<% else %>
					<%= link_to 'Cadastre-se grátis e crie já o seu!' , new_user_registration_path, :class => 'round', :id => 'link' %>
				<% end %>
			</p>
		</div>
	</div>	
	
			<div class='left home_sky_scrapper'>
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-8162200517166382";
				/* home, arranha céu largo, 17/04/11 */
				google_ad_slot = "5291946908";
				google_ad_width = 160;
				google_ad_height = 600;
				//-->
				</script>
				<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
			</div>

	<div class='clear'></div>		
	
</div>

<div id="business_done" style="margin-top: 100px;">
</div>

<div id="partners">
    <h2>Parceiro:</h2>
    <ul>
      <li><%= link_to image_tag('logo-batatajp.gif'), 'http://batata.jp' , :target => '_blank' %></li>
    </ul>
</div>