<div class="welcome_message">
    <h1><%= t(:welcome_message_1)%></h1>
    <h3><%= t(:welcome_message_2)%></h3>
    <div class="triangle-l"></div>
    <div class="triangle-r"></div>
</div>

<hr size="1" />

<div>

    <div id="business_done">
      
    </div>



    <div id="partners">
        <h1>Parceiro:</h1>
        <ul>
          <li><%= link_to 'Batata.jp', 'http://batata.jp' , :target => '_blank' %></li>
        </ul>
    </div>



</div>
