<% title 'Por quê anunciar no ShigotoDoko' %>

<div id="why_to_announce">
<h1>Por quê anunciar no ShigotoDoko?</h1>
<p>Nesta página você irá conhecer apenas alguns dos motivos que levam diversas empresas à anunciarem no ShigotoDoko.</p>

<h3>Um dos maiores motivos é a visibilidade.</h3>
<p>Se você ou a sua empresa anuncia em mídia impressa tais como revistas e jornais, a sua visibilidade e por consequência
seu número de exposições é <b>limitado</b> ao número de tiragens e mesmo assim corre o risco de não ter seu
anúncio visualizado, pois tal mídia pode acabar sobrando em alguma prateleira.</p>
<p>O mesmo já não acontece no ShigotoDoko por se tratar de um site <b>ESPECIALIZADO</b> em empregos no Japão e têm 
a capacidade de atingir diretamente o público alvo do seu interesse.</p>

<h3>Maior disponibilidade</h3>
<p>Enquanto a mídia impressa é distribuída ou vendida geralmente em alguns pontos comerciais em lojas de produtos estrangeiros,
seu anúncio fica novamente <b>limitado</b> à estas lojas que não estão presentes em todos os lugares e possuem horário de funcionamento
pré-definido, ou seja, quando a loja estiver fechada seu anúncio <b>não poderá ser visto por novas pessoas interessadas</b>.</p>
<p>Já no <b>ShigotoDoko</b> por se tratar de um site e estar na internet, qualquer pessoa, de qualquer parte do Japão ou do mundo, 
pode visualizar o seu anúncio, independente do dia ou da hora, ele estará lá <span class='green'><b>disponível</b></span></p>

<h3>Elemento surpresa</h3>
<p>O que é o elemento surpresa? Imagine a seguinte situação: sua empresa solicita a publicação de um determinado anúncio 
para contratar 10 pessoas, porém, alguns de seus funcionários milagrosamente conseguiram estas 10 pessoas durante um final de semana.</p>
<p>O que fazer? solicitar uma alteração no mesmo ou até mesmo o cancelamento. Mas nem sempre é possível, pois uma vez já impresso, não há como voltar atrás.</p>
<p>A mesma situação quando tratada no <b>ShigotoDoko</b> pode facilmente ser contornada. Com apenas 1 clique é possível suspender <i>imediatamente</i> o seu anúncio.</p>
<p>Alterações de última hora também não são problema, seus anúncios podem ser modificados a qualquer momento e seu anúncio atualizado estará novamente disponível em <b>poucas horas</b>.</p>

<h3>Tempo de espera</h3>
<p>Quantos dias é preciso esperar para que seu anúncio seja publicado numa revista ou num jornal? Provavelmente dias!</p>
<p>Enquanto você espera, seu concorrente <u>já está contratando</u>. E aí? Vai ficar esperando o concorrente preencher as vagas que poderiam ser suas?</p>
<p>Seu anúncio no <b>ShigotoDoko</b> é publicado em <b>poucas horas!</b></p>

<h3>Custo</h3>
<p>Mídia impressa sobrevive de anúncios, ou seja, divulgar um anúncio envolverá custos.</p>
<p>Anunciar no <b>ShigotoDoko</b> é de <b><span class='green'>graça!</span></b></p>
<hr />

<h2>Conheça algumas das empresas que já anunciam conosco</h2>
<p class='companies'><%= @active_companies.to_sentence %></p>

<p>Agora que você já sabe o por quê, saiba <%= link_to 'como anunciar no ShigotoDoko', how_to_start_ad_path %></p>
</div>