<% title "Empresas em #{params[:id].capitalize}" %>

<% mobile_header "#{params[:id]}" %>
<% mobile_header_button link_to "Home", home_path, "data-icon" => "home", "class" => "ui-btn-left" %>
<% mobile_header_button link_to "Voltar", companies_path, "data-icon" => "back", "class" => "ui-btn-right", "data-theme" => "e" %>


    <ul data-role="listview" data-filter="true" data-filter-placeholder="Procurar empresa..." data-filter-theme="b">
    <% @companies.each do |company| %>

      <%
      #
      # Get the first letter of the company name
      # capitalize and show
      # verify wheter the first letter is different, if it is, get the new one for divider
      #
      
      
      first_letter_for_divider = company.name[0]
      %>

       
       <% if defined? @current_letter  %>
         
            <% if @current_letter == company.name[0] %>

              <li><%=  link_to company.name, company_path(company) %></li>
              
              
            <% else %>
         
             <li data-role="list-divider"><%= first_letter_for_divider %></li>
             <% @current_letter = first_letter_for_divider %>
               
            <% end %>
        
        <% else %>
        
            <li data-role="list-divider"><%= first_letter_for_divider %></li>
            <li><%=  link_to company.name, company_path(company) %></li>
            <% @current_letter = first_letter_for_divider %>
        
        <% end %>
        
        
        
        
    <% end %>
    </ul>