<% title "Empresas" %>
<% mobile_header "Empresas" %>

<% mobile_header_button link_to "Home", home_path, "data-icon" => "home", "class" => "ui-btn-left" %>



    <ul data-role="listview" data-filter="true" data-filter-placeholder="Procurar província..." data-filter-theme="b">
    <% @provinces.each do |province| %>
      <li><%=  link_to province.name, in_company_path(province.name) %></li>
    <% end %>
    </ul>

