<% title 'Currículos' %>

<h1>ShigotoDOKO Currículos</h1>
<h3>Sistema de currículos online feito exclusivamente para a comunidade latino-americana</h3>

<h5>Centenas de pessoas já criaram seus currículos conosco.</h5>
<p>E em poucos minutos você poderá ter o seu currículo publicado e disponível 24 horas por dia à todas as empresas contratantes.</p>

<% if user_signed_in? %>
	<p><%= link_to 'Crie seu currículo agora', new_resume_path %></p>
<% else %>
	<p><%= link_to 'Registre-se aqui', new_user_registration_path %></p>
<% end %>

