<footer>
  <nav class="round">
    <ul>
      <li>©2011 ShigotoDOKO</li>
      <li><%= link_to "Sobre", about_path %></li>
      <li><a href="http://blog.shigotodoko.com/" target="_blank">Blog</a></li>
      <li><%= link_to "Contato", contact_path %></li>
      <li><%= link_to "Twitter", 'http://twitter.com/shigotodoko', :target => '_blank' , :title => t(:follow_us_on_twitter)%></li>
    </ul>
  </nav>
</footer>
