<div id="navigator" class="round-top">
  <ul>
    <li class="first"><%= link_to 'Empregos', jobs_path %></li>
    <li>Empreiteiras</li>
    <% if can? :index, User %>
    <li><%= link_to 'Usuários', users_path %></li>
        <% end %>
  </ul>

</div>