<div id="reminder">
  <div class="container">

<% if current_user && current_user.admin? %>
        <% if @pending.size == 0 %>
            <p>Nenhum anúncio para revisáo.</p>
        <% else %>
            <p><%= link_to(t(:you_have) + " " + pluralize(@pending.count, t(:announcer)) , jobs_revision_path) %> aguardando revisão.</p>
        <% end %>
<% end %>

  </div>
</div>