
<% if current_user && current_user.admin? %>
<div id="reminder">
        <% if @pending.size == 0 %>
            <p>Nenhum anúncio para revisáo.
        <% else %>
            <p><%= link_to(t(:you_have) + " " + pluralize(@pending.count, t(:announcer)) , jobs_revision_path) %> aguardando revisão.
        <% end %>
        
        <% if @locked.size == 0 %>
          . Nenhum anúncio bloqueado.</p>
        <% else %>
          <%= link_to(pluralize(@locked.count, "anúncio"),jobs_locked_path) %> bloqueado(s).
        <% end %>
</div>
<% end %>

