
<% if current_user && current_user.admin? %>
<div id="reminder">
    <% if @pending.size == 0 %>
        <p>Nenhum anúncio para revisão.
    <% else %>
        <p><%= link_to(t(:you_have) + " " + pluralize(@pending.count, t(:announcer)) , jobs_revision_path) %> aguardando revisão.
    <% end %>
    
    <% if @locked.size == 0 %>
      <br />Nenhum anúncio bloqueado.</p>
    <% else %>
      <br /><%= link_to(pluralize(@locked.count, "anúncio"),jobs_locked_path) %> bloqueado(s).</p>
    <% end %>
</div>
<% end %>

